@{
    ViewBag.Title = "Home Page";
}
<h2>The Following Examples Can Be Viewed:</h2>
<ol>
	<li>Apps</li>
	<ul class="list-unstyled">
		<li>@Html.ActionLink("Math Game Prototype (playable!)", "MathGame", "Apps")</li>
	</ul>
	<li>Specs</li>
	<ul class="list-unstyled">
		<li>@Html.ActionLink("Math Game Plugin Spec", "Run", "Jasmine", new { SpecName = "MathGamePluginSpecRunner" }, null)</li>
		<li>@Html.ActionLink("Math Game Domain Spec", "Run", "Jasmine", new {SpecName="MathGameDomainRunner"}, null)</li>
	</ul>
</ol>
